{% render 'partials/head.liquid', title: 'Home' %}

<div class="banner-home secondary-background width-top-btm">
    <section class="left-banner-home">
        <p>Collaborate, learn & Innovate.</p>
        <h1>The platform where Radiotherapists connect and innovate</h1>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Enim ipsum non egestas; primis luctus cubilia. Donec ut
            venenatis
            finibus eu; bibendum dictum. Ultricies parturient nascetur. Donec ut venenatis finibus eu; bibendum dictum.
            Ultricies
            parturient nascetur.</p>
        <a class="green-link" href="">All webinars</a>
    </section>

    <img class="banner-home-img" src="/assets/banner-avl.jpeg" alt="">
</div>

<div class="wrapper-webinars width-top-btm">
    <section class="heading-webinars">
        <h2>Our webinars</h2>
        <a class="green-link" href="#">All webinars</a>
    </section>

    <div class="webinars-slider">
        {% render 'partials/webinar-card.liquid', webinars: webinars, watchlistIds: watchlistIds %}
    </div>
</div>

<div class="divider"></div>

<div class="partner-home width-btm">
    <img class="banner-partner-img" src="/assets/banner-avl.jpeg" alt="">

    <section class="left-partner">
        <p>Partnership</p>
        <h2>The partnership between the Netherlands and Indonesia</h2>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Enim ipsum non egestas; primis luctus cubilia. Donec ut
            venenatis
            finibus eu; bibendum dictum. Ultricies parturient nascetur. Donec ut venenatis finibus eu; bibendum dictum.
            Ultricies
            parturient nascetur.</p>
        <a class="green-link" href="">All webinars</a>
    </section>
</div>

<div class="divider"></div>

<div class="wrapper-contourings width-btm">
    <section class="heading-contourings">
        <h2>Our contourings</h2>
        <a class="green-link" href="#">All contourings</a>
    </section>

    <ul class="contourings">

        {% for contouring in contourings %}

        <li class="contouring">
                <img class="img-scan" src="https://fdnd-agency.directus.app/assets/{{ contouring.image_scan }}"
                    alt="{{ contouring.title }}">
                <ul class="categories-contourings">
                    {% for categorie in contouring.categories %}
                    <li class="category">
                        <p class="categorie-label">{{ categorie.avl_categories_id.name }}</p>
                    </li>
                    {% endfor %}
                </ul>
                <h3>{{ contouring.title }}</h3>
                <p class="user">{{ contouring.user_id.fullname }}</p>
                <a class="arrow-link" href="#">Bekijk contouring <img src="/assets/arrow-right-webinar.svg" alt=""></a>
        </li>

        {% endfor %}
    </ul>
</div>

{% render 'partials/foot.liquid' %}